.todo {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1rem;
    align-items: center;
    padding-left: 0.5rem;
}::selection {
    visibility: hidden;
}

.complete {
    border-left: 10px solid green;
    color: #555;

    span {
        text-decoration: line-through;
    }
}

.incomplete {
    border-left: 10px solid red;
}