.todo {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
    grid-gap: 1rem;
    align-items: center;
    padding-left: 0.7rem;
    cursor: pointer;
    position: relative;

    .btn.update {
        background: rgb(79, 79, 255);
    }

    &:before {
        content: '';
        position: absolute;
        bottom: 0;
        top: 0;
        left: 0;
        width: 0.5em;
        background-color: red;
        transform-origin: top;
        transition: transform 200ms;
    }

    &:after {
        content: '';
        position: absolute;
        bottom: 0;
        top: 0;
        left: 0;
        width: 0.5em;
        background-color: green;
        transform: scaleY(0);
        transform-origin: top;
        transition: transform 200ms;
    }

    &.complete {
        color: #555;

        &:after {
            transform: scaleY(1);
        }

        span {
            &:before {
                transform: scaleX(1);
            }
        }
    }

    span {
        position: relative;
    
        &:before {
            content: '';
            position: absolute;
            height: 0.1em;
            top: 0.5rem;
            left: 0;
            right: 0;
            background-color: #444;
            transform: scaleX(0);
            transform-origin: left;
            transition: transform 200ms;
        }
    }
}::selection {
    visibility: hidden;
}